* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: lightgoldenrodyellow;
}

.content {
    text-align: justify;
    margin: 20px auto;
    padding: 20px;
    border: 20px solid lightgreen;
    width: 95%;

}

table {
    border: 3px solid lightskyblue;
    margin: auto;
}

td {
    border:2px dashed lightskyblue;
    empty-cells: show;
    width: 500px;
    height: 45px;
    font-weight: bolder;
    text-align: center;
    font-family: 標楷體;
    color: brown;
}